<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="co.verisoft" status="WARN">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=blue bold, DEBUG=black bold, TRACE=black}"/>
            <ThresholdFilter level="warn"/>
        </Console>

        <RollingFile name="RollingFileAppender" fileName="target/logs/app.log"
                     filePattern="target/logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
                </Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <ThresholdFilter level="info"/>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <RollingFile name="RollingFileTraceAppender" fileName="target/logs/app-trace.log"
                     filePattern="target/logs/$${date:yyyy-MM}/app-trace-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
                </Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <ThresholdFilter level="trace"/>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <Log4jObserverAppender name="Log4jObserverAppender"/>
    </Appenders>

    <Loggers>
        <Logger name="org.springframework" level="info">
            <AppenderRef ref="RollingFileTraceAppender"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="RollingFileAppender"/>
            <AppenderRef ref="RollingFileTraceAppender"/>
            <AppenderRef ref="Log4jObserverAppender"/>
        </Root>

    </Loggers>
</Configuration>